.input {
  margin-bottom: 25px;
  :global {
    .MuiInputBase-root {
      width: 100%;
      input {
        width: 100%;
      }
    }
  }
}

.error {
  color: red;
  font-size: 11px;
  position: absolute;
  bottom: -15px;
}